html{
    font-size: xx-large;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    font-size: large;
}
#encabezado{
    color: aqua;
    height: 100%;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border: 10px seagreen dotted;
    border-top: ridge 10px gold;
    border-right: 100px groove;
    border-radius: 7%;
    box-shadow: 50px 60px 1000px red;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#encabezado h1{
    text-align: center;
}
.introduccion{
    color: brown;
    height: 150px;
    width: 500px;
    padding: 50px 300px;
    text-align: center;
    border: 10px green ridge;
    border-radius: 15%;
    margin-top: auto;
}
.introduccion span{
    width: 200px;
    height: 100px;
    border: 2px solid pink;
    
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    padding: 5px;
    margin: 100px;
}
.texto-fuente{
    
}
.texto-propiedades{
    color: palevioletred;
    border-spacing: 30px;
    border: 3cm goldenrod double;
    border-radius: 30px;
    font-size: 10em;
    font-weight: 100;
}
.texto-propiedades p{
    text-align: justify;
    text-transform: uppercase;
    line-height: 2cm;
    letter-spacing: 0.5cm;
}

.fuentes-propiedades{
    text-align: right;
    word-spacing: 1cm;
    font-size: 10em;
    font-weight: 900;
    font-style: oblique;
}

#principal{
    color: chartreuse;
    background-image: radial-gradient(red, green);
    border: 0.5cm groove gold;
}
h2 {
    text-transform: capitalize;
    text-shadow: 10px 10px 10px black;
    font-size: 21rem;
}
